body{
	background-color: DarkSeaGreen;
}

.header{
	height: 80px;
	margin: 20px;
	background-color: LightGrey;
	text-align: center;
	border-radius: 5px;
}

.content{
	margin: 20px;
	background-color: LightGrey;
	border-radius: 5px;
}

.footer{
	text-align: center;
}

.navigation{
	width: 100%;
	height: 7.4%;
	background-color: grey;
	margin-bottom: 20px;
	margin-top: 17px;
	padding-top: 1px;
	padding-left: 1px;
	padding-bottom: 5px;
	border-radius: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
}

li {
	float: left;
	border-right:1px solid black;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	/* "font-size" with percentage causes too big values ...*/
	font-size: 28px;
}

li a:hover {
	background-color: darkseagreen;
	border-radius: 5px;
}

#contentMenu{
	background-color: whitesmoke;
	width: 100%;
	height: 85.3%;
	margin-top: 10px;
}

.menu{
	background-color: whitesmoke;
	margin-top: 10px;
}

.profileBox{
	background-color: whitesmoke;
	width: 200px;
	height: 150px;
	margin-bottom: 20px;
	margin-top: -10px;
}

.gameBox{
	background-color: whitesmoke;
	width: 200px;
	height: 150px;
	margin-bottom: 20px;
}

.leftSide{
	height: 80%;
	display: inline-block;
	margin: 3px 0.5px 10px 20px;
	width: 86.2%;
}

.rightSide{
	width: 20px;
	height: 78.2px;
	display: inline-block;
	margin: 3px 1px 10px 15px;
}